$container-width: 1280px;

$breakpoints: (
  "xs": 320px,
  "small-phone": 375px,
  "large-phone": 568px,
  "tablet": 767.98px,
  "large-tablet": 992px,
  "ipad": 1024px,
  "desktop": 1280px,
  "large": 1440px,
);

/*
font-family: 'Philosopher', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Port Lligat Slab', serif;
*/
