@use "sass:map";
@use "sass:list";
@import "_variables";

@mixin media($breakpoint, $direction: "max") {
  @media only screen and (#{$direction}-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
