.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.t-flex-col {
  @include media("tablet") {
    flex-direction: column;
  }
}
